*{
    padding: 0%;
    margin: 0%;
}
.container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
}
.table{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    font-size: 150%;
    
}
th{
    cursor: context-menu;
    position: relative;
    z-index: 2;
}
th:hover .tooltiptext {
    visibility: visible;
  }
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 40%;
    font-size: 50%;
  }