*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
    
}
.search-container{
    display: flex;
    width: 100%;
    margin: 5px;
    margin-top: 50px;
    justify-content: flex-end;
    align-items: center;
}

input, select{
    
    height: 35px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 150%;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#search{
    width: 35%;
}

.label-search-input{
    font-size: 150%;
    font-weight: bolder;
}
#selectSearch{
    width: fit-content;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    font-size: 150%;
    
}
th{
    cursor: context-menu;
    position: relative;
    z-index: 2;
}
th:hover .tooltiptext {
    visibility: visible;
  }
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 40%;
    font-size: 50%;
  }